# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/cloud-function-iotWeather/dist
/firebase-hosting-tempcharts/dist
/reportData/dist
/cloud-function-iotWeather/tmp
/firebase-hosting-tempcharts/tmp
/reportData/tmp
/cloud-function-iotWeather/out_tsc
/firebase-hosting-tempcharts/out_tsc
/reportData/out_tsc

# dependencies
/node_modules
/cloud-function-iotWeather/functions/node_modules
/firebase-hosting-tempcharts/node_modules
/reportData/functions/node_modules

# Remove keys
*.pem

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
